{% extends 'base.html' %}
{% block title %}FakeCSV-Schema-Detail{% endblock %}
{% block content %}
    <h2>Data sets</h2>
    <form class="form-inline" action="{{ url_for('base.schema_detail', slug={{ slug }}) }}" method="post">
         <div class="form-group mx-sm-3 mb-2">
            <label for="numberRows" class="sr-only">Rows:</label>
            <input type="number" name="rows" max="99999" pattern="[0-9]{5}" class="form-control" id="numberRows">
         </div>
        <button type="submit" id="create_data" class="btn btn-primary mb-2" onclick="create_new_form()">Generate data</button>
    </form>
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Created</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id=main-download-block">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
              <a href="#" download>Download</a>
          </td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_file.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajax_request.js') }}"></script>
{% endblock js %}
